/* Global styles */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* PrimeNG global overrides if necessary */
:root {
    --font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}